a[target] {
     background-color: red; 
    }
    a[target="_self"] {
     background-color: orange; 
    }

    *[alt~="K2"] {
        border: 2px solid green;
        border-radius: 50%;
    }
h2{
    text-align: center;
}
[class|=claseparrafo] { 
    background: blue;
 }
 .claseparrafo-{
     font: 30px monospace;
 }
 [class^="claseselector"] {
      text-decoration: overline;
    }

.claseselector1{
    color: darkcyan;
}
input[type=text]{ 
    width: 60%; 
    padding: 12px 20px;
    border: none;
   
   
     
      margin: 8px 0;
       box-sizing: border-box;
        border: 3px solid #ccc;
         -webkit-transition: 1s;
          transition: 1s;
           //Añade un efecto de animación que se prolonga durante x segundos 
           outline: none;

}
input[type=text]:focus { 
    border: 3px solid #555;
    width: 100%;
 }
 input[type=text].claseinput1 {
     
      box-sizing: border-box;
       border: 2px solid #ccc;
        border-radius: 4px; 
        font-size: 16px;
         background-color: white;
          background-image: url('../img/busqueda.png');
           background-position: 10px 10px;
            background-repeat: no-repeat;
             padding: 12px 20px 12px 40px;
             -webkit-transition: width 0.4s ease-in-out;
             transition: width 0.4s ease-in-out;
             }

