.contenedorflex{
    display: flex;
    width: 500px;
    background-color: dodgerblue;
    padding: 20px;
    min-height: 400px;
    > .elemento1{
        /*flex-basis: 200px;si lo fijas en un ancho determninado de hay no va a decrecer*/
        flex-basis: 200px;
        flex-grow: 3;
        background-color: #f1f1f1;
    }
    > .elemento2{
        flex-basis: auto;
        flex-grow: 2;
        background-color: #f1f1f1;
    }
    > .elemento3{
        flex-basis: auto;
        flex-grow: 2;
        background-color: #f1f1f1;
    }
    > .elementohijo1{
        background-color: #f1f1f1;
        padding: 10px;
        align-self: flex-end;
    }
    > .elementohijo2{
        background-color: #f1f1f1;
        padding: 10px;
        align-self: flex-start;
    }
    > .elementohijo3{
        background-color: #f1f1f1;
        padding: 10px;
        align-self: center;
    }
}

.contenedorflex1{
    display: flex;
    background-color: dodgerblue;
    padding: 20px;
   > .elementos1{
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;/*no esta heredando el flex de su contenedor */
   
    > .elemento11{
        background-color: fuchsia;
        padding: 10px;
    }
    > .elemento12{
        background-color: fuchsia;
        padding: 10px;
    }
}
   
   > .elementos2{
    background-color:#f1f1f1;
    padding: 10px;
   
}
}